{
    "swagger": "2.0",
    "info": {
        "title": "BlueClerk",
        "description": "APIs for both app and website",
        "version": "1.0.0"
    },
    "host": "blueclerk-node-api.deploy.blueclerk.com:3006",
    "basePath": "/api/v1",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "Auth",
            "description": "For login and signup"
        },
        {
            "name": "Industry",
            "description": "For the industry company works in"
        },
        {
            "name": "Users",
            "description": "For all kind of users"
        },
        {
            "name": "Equipment Type",
            "description": "For equipment types"
        },
        {
            "name": "Equipment Brand",
            "description": "For equipment brands"
        },
        {
            "name": "Customer",
            "description": "For customers of a company"
        },
        {
            "name": "Customer Equipment",
            "description": "For equipments of a customer"
        },
        {
            "name": "Customer Equipment Detail",
            "description": "For Limited information of customer equipment and jobs"
        },
        {
            "name": "Company Equipment"
        },
        {
            "name": "Company Card",
            "description": "For payment methods of a company"
        },
        {
            "name": "Company Equipment History",
            "description": "For company equipment's Check In Check Out history"
        },
        {
            "name": "Inventory",
            "description": "For Inventory of company equipments"
        },
        {
            "name": "Job Type",
            "description": "For job types"
        },
        {
            "name": "Service Ticket",
            "description": "For creting and getting service tickets"
        },
        {
            "name": "Job",
            "description": "For scheduled jobs"
        },
        {
            "name": "Reports",
            "description": "For job and other reports"
        },
        {
            "name": "Image",
            "description": "For images"
        },
        {
            "name": "Group",
            "description": "For Groups"
        },
        {
            "name": "Tags",
            "description": "For Placing Tags Order"
        },
        {
            "name": "Subscription"
        },
        {
            "name": "Permission",
            "description": "For employee or company permissions"
        },
        {
            "name": "Contractor",
            "description": "For contractor login, signup and details"
        },
        {
            "name": "Import Customer",
            "description": "For import customers through excel file"
        },
        {
            "name": "Quickbooks Integration",
            "description": "For Quickbooks customers integration"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login all kind of users and get auth token for further requests",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AuthAPIResponse"
                        }
                    }
                }
            }
        },
        "/signUp": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Sign up as company Admin and creates company",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "email address of admin of a company"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "password for company admin login"
                    },
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "first Name of admin of company"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "last Name of admin of company"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "phone number of admin of company"
                    },
                    {
                        "name": "companyName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "industryId",
                        "in": "formData",
                        "description": "Id of the selected industry from the industries fetched with /getIndustries api",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AuthAPIResponse"
                        }
                    }
                }
            }
        },
        "/searchContractor": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "Search for contractor",
                "description": "Company can serach contractors",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/inviteContractor": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "To invite contractor to join BlueClerk",
                "description": "A company can invite a contractor",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "email of contractor to invite",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/startContract": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "To send offer to a contractor",
                "description": "A company can initiate a contract with contractor",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "description": "Id of a contractor fetched with /searchContractor api",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getContracts": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "To get all contracts by contractor",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "industries": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Contract"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getCompanyContracts": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "To get all contracts by company",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "industries": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Contract"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/acceptOrRejectContract": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "Accepting or rejecting a contract by contractor",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "formData",
                        "description": "Id of a contract fetched by /getContracts api",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "status of contract accept / reject",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/CancelOrFinish": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "Canceling of Finishing contract by company",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "formData",
                        "description": "Id of a contract fetched by /getContracts api",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "status of contract cancel / finish",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/upgradeToCompany": {
            "post": {
                "tags": [
                    "Contractor"
                ],
                "summary": "Canceling of Finishing contract by company",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "strip token got from mobile end",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ending",
                        "in": "formData",
                        "description": "last 4 digits of card",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/changeContractorPermission": {
            "post": {
                "tags": [
                    "Permission"
                ],
                "summary": "Assigning permissions to contractor",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "description": "Id of a contractor",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissions",
                        "in": "formData",
                        "description": "comma seprated permissions",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/contractorSignup": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Sign up for contractor",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "companyName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "industryId",
                        "in": "formData",
                        "description": "Id of the selected industry from the industries fetched with /getIndustries api",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AuthAPIResponse"
                        }
                    }
                }
            }
        },
        "/checkAndGet": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Check if user has already signed up using Facebook or google",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "socialId",
                        "in": "formData",
                        "description": "Social id returned by facebook or google sdk",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connectorType",
                        "in": "formData",
                        "description": "0 for Facebook and 1 for Google",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AuthAPIResponse"
                        }
                    }
                }
            }
        },
        "/signUpSocial": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Sign up for company using Facebook or Google",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "email address of admin of a company"
                    },
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "first Name of admin of company"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "last Name of admin of company"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "phone number of admin of company"
                    },
                    {
                        "name": "companyName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "industryId",
                        "in": "formData",
                        "description": "Id of the selected industry from the industries fetched with /getIndustries api",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "socialId",
                        "in": "formData",
                        "description": "Social id from Facebook or Google sdk",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connectorType",
                        "in": "formData",
                        "description": "0 for Facebook and 1 for Google",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AuthAPIResponse"
                        }
                    }
                }
            }
        },
        "/contractorSignUpSocial": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Sign up for contractor using Facebook or Google",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "companyName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "industryId",
                        "in": "formData",
                        "description": "Id of the selected industry from the industries fetched with /getIndustries api",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "socialId",
                        "in": "formData",
                        "description": "Social id from Facebook or Google sdk",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connectorType",
                        "in": "formData",
                        "description": "0 for Facebook and 1 for Google",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AuthAPIResponse"
                        }
                    }
                }
            }
        },
        "/setCustomWorkOrderNumber": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Setting custom work order number for service tickets and job",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "workOrderNumber",
                        "in": "formData",
                        "type": "number"
                    },
                    {
                        "name": "prefix",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createIndustry": {
            "post": {
                "tags": [
                    "Industry"
                ],
                "summary": "To create an industry",
                "description": "Only a global admin can create an industry",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getIndustries": {
            "post": {
                "tags": [
                    "Industry"
                ],
                "summary": "To get all industries",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "industries": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Industry"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/createManager": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To create a manager",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createTechnician": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To create a technician",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createOfficeAdmin": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To create an office admin",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getManagers": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To get all managers created by a company",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/User"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getTechnicians": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To get all technicians created by a company",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/User"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getOfficeAdmins": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To get all office admins created by a company",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/User"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/updateProfile": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To update profile of any user",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lastName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "imageUrl",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "street",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "zipCode",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/changePassword": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To change password of any user",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "currentPassword",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "newPassword",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/forgotPassword": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To change password of any user",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                }
            }
        },
        "/deleteEmployee": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To delete user (technician, manager or office admin)",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "employeeId",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/activateEmployee": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To revive/activate deleted user (technician, manager or office admin)",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "employeeId",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getAllEmployees": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To get all employees (technician, manager and office admin)",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/User"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getEmployeesForJob": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To get all employees other then office admins (technician and manager)",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/User"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getContractorsForJob": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To get all contractors of a company for assigning them a job",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/User"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/updateCompanyProfile": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "To update profile of a company",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "companyName",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "companyEmail",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "email address of company"
                    },
                    {
                        "name": "logoUrl",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "street",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "zipCode",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fax",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/agreeTermAndCondition": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Employee agree to terms and condition",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "agreedStatus",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createEquipmentType": {
            "post": {
                "tags": [
                    "Equipment Type"
                ],
                "summary": "To create an equipment type",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "industryId",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getEquipmentTypes": {
            "post": {
                "tags": [
                    "Equipment Type"
                ],
                "summary": "To get all equipment types created by a company or company of employee. It will also contain types created by global admin according to industry.",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "types": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/EquipmentType"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createEquipmentBrand": {
            "post": {
                "tags": [
                    "Equipment Brand"
                ],
                "summary": "To create an equipment type",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "industryId",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getEquipmentBrands": {
            "post": {
                "tags": [
                    "Equipment Brand"
                ],
                "summary": "To get all equipment brands created by a company or company of employee. It will also contain brands created by global admin.",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "brands": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/EquipmentBrand"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createCustomer": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "To create a customer",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "street",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "zipCode",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/updateCustomer": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "To update customer data",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "street",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "zipCode",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getCustomers": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "To get all customers of a company or company of employee.",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "includeActive",
                        "in": "formData",
                        "required": true,
                        "type": "boolean",
                        "description": "Should include active clients in the response. true->include false->don't include"
                    },
                    {
                        "name": "includeNonActive",
                        "in": "formData",
                        "required": true,
                        "type": "boolean",
                        "description": "Should include non-active clients in the response. true->include false->don't include"
                    },
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "customer": {
                                            "$ref": "#/definitions/Customer"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getCustomerDetail": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "To get detail of a customer.",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of customer for getting detail"
                    },
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "customers": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Customer"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createCustomerEquipment": {
            "post": {
                "tags": [
                    "Customer Equipment"
                ],
                "summary": "To create an equipment for a customer",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serialNumber",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "location",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "nfcTag",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "images",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "comma seprated image Urls"
                    },
                    {
                        "name": "equipmentTypeId",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "Id of the selected equipment type from the list received in /getEquipmentTypes api"
                    },
                    {
                        "name": "equipmentBrandId",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "Id of the selected equipment brand from the list received in /getEquipmentBrands api"
                    },
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "description": "Id of the selected customer from the list received in /getCustomers api"
                    },
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getCustomerEquipments": {
            "post": {
                "tags": [
                    "Customer Equipment"
                ],
                "summary": "To get all equipments of a customer.",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "equipments": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/CustomerEquipment"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getCustomerEquipmentJobs": {
            "post": {
                "tags": [
                    "Customer Equipment"
                ],
                "summary": "To get history of jobs performed on current equipment",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nfcTag",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "equipment": {
                                            "type": "object",
                                            "properties": {
                                                "_id": {
                                                    "type": "string"
                                                },
                                                "info": {
                                                    "type": "object",
                                                    "properties": {
                                                        "model": {
                                                            "type": "string"
                                                        },
                                                        "serialNumber": {
                                                            "type": "string"
                                                        },
                                                        "nfcTag": {
                                                            "type": "string"
                                                        },
                                                        "imageUrl": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "maintenance": {
                                                    "type": "object",
                                                    "properties": {
                                                        "interval": {
                                                            "type": "string"
                                                        },
                                                        "nextDate": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    }
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "description": "Id of equipment type"
                                                },
                                                "brand": {
                                                    "type": "string",
                                                    "description": "Id of equipment brand"
                                                },
                                                "customer": {
                                                    "type": "string",
                                                    "description": "Id of customer"
                                                }
                                            }
                                        },
                                        "jobs": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Scan"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/scanTag": {
            "post": {
                "tags": [
                    "Customer Equipment"
                ],
                "summary": "To check if the tag is linked to some equipment or not",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nfcTag",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CheckTagResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getEquipmentInfo": {
            "post": {
                "tags": [
                    "Customer Equipment Detail"
                ],
                "summary": "To get detail of equipment by nfc tag",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nfcTag",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "equipment": {
                                            "type": "object",
                                            "properties": {
                                                "info": {
                                                    "type": "object",
                                                    "properties": {
                                                        "model": {
                                                            "type": "string",
                                                            "description": "model number of equipment scanned"
                                                        },
                                                        "serialNumber": {
                                                            "type": "string",
                                                            "description": "serialNumber number of equipment scanned"
                                                        },
                                                        "location": {
                                                            "type": "string",
                                                            "description": "location of equipment"
                                                        }
                                                    }
                                                },
                                                "images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": {
                                                    "type": "object",
                                                    "properties": {
                                                        "title": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "brand": {
                                                    "type": "object",
                                                    "properties": {
                                                        "title": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "customer": {
                                                    "type": "object",
                                                    "properties": {
                                                        "profile": {
                                                            "type": "object",
                                                            "properties": {
                                                                "displayName": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "address": {
                                                            "type": "object",
                                                            "properties": {
                                                                "street": {
                                                                    "type": "string"
                                                                },
                                                                "city": {
                                                                    "type": "string"
                                                                },
                                                                "state": {
                                                                    "type": "string"
                                                                },
                                                                "zipCode": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getEquipmentJobs": {
            "post": {
                "tags": [
                    "Customer Equipment Detail"
                ],
                "summary": "To get jobs performed on equipment by nfc tag",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nfcTag",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "scans": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "jobId": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "boolean"
                                                    },
                                                    "dateTime": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "customer": {
                                                        "type": "object",
                                                        "properties": {
                                                            "profile": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "displayName": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createJobType": {
            "post": {
                "tags": [
                    "Job Type"
                ],
                "summary": "To create a job type",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "industryId",
                        "in": "formData",
                        "type": "string",
                        "description": "pass indutry id if you are global admin and make this job type available for that industry"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GeneralAPIResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/getJobTypes": {
            "post": {
                "tags": [
                    "Job Type"
                ],
                "summary": "To get all job types created by a company or employee of company. It will also contain types created by global admin.",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "companyId",
                        "in": "formData",
                        "type": "string",
                        "description": "Id of company if contractor is hitting for other company"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/GeneralAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "types": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/JobType"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/createServiceTicket": {
            "post": {
                "tags": [
                    "Service Ticket"
                ],
                "summary": "To create a service ticket",
                "description": "",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
[...]
