{
  "swagger": "2.0",
  "info": {
    "title": "BlueClerk",
    "description": "APIs for both app and website",
    "version": "1.0.0"
  },
  "host": "blueclerk-node-api.deploy.blueclerk.com:3006",
  "basePath": "/api/v1",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "For login and signup"
    },
    {
      "name": "Industry",
      "description": "For the industry company works in"
    },
    {
      "name": "Users",
      "description": "For all kind of users"
    },
    {
      "name": "Equipment Type",
      "description": "For equipment types"
    },
    {
      "name": "Equipment Brand",
      "description": "For equipment brands"
    },
    {
      "name": "Customer",
      "description": "For customers of a subscriber"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login all kind of users and get auth token for further requests",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthAPIResponse"
            }
          }
        }
      }
    },
    "/signUp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign up for subscriber",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "industryId",
            "in": "formData",
            "description": "Id of the selected industry from the industries fetched with /getIndustries api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthAPIResponse"
            }
          }
        }
      }
    },
    "/adminSignUp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign up for global admin",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthAPIResponse"
            }
          }
        }
      }
    },
    "/createIndustry": {
      "post": {
        "tags": [
          "Industry"
        ],
        "summary": "To create an industry",
        "description": "Only a global admin can create an industry",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/getIndustries": {
      "post": {
        "tags": [
          "Industry"
        ],
        "summary": "To get all industries",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/GeneralAPIResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "industries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Industry"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/createManager": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To create a manager",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/createTechnician": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To create a technician",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/createOfficeAdmin": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To create an office admin",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/getManagers": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To get all managers created by a subscriber",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/GeneralAPIResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/getTechnicians": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To get all technicians created by a subscriber",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/GeneralAPIResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/getOfficeAdmins": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To get all office admins created by a subscriber",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/GeneralAPIResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/updateProfile": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To update profile of any user",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "firstName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageUrl",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/changePassword": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To change password of any user",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currentPassword",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "newPassword",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/updateCompanyProfile": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "To update company profile of a subscriber",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "logoUrl",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "street",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "city",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "zipCode",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "fax",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/createEquipmentType": {
      "post": {
        "tags": [
          "Equipment Type"
        ],
        "summary": "To create an equipment type",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/getEquipmentTypes": {
      "post": {
        "tags": [
          "Equipment Type"
        ],
        "summary": "To get all equipment types created by a subscriber or parent subscriber of normal user. It will also contain types created by global admin.",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/GeneralAPIResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "types": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/EquipmentType"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/createEquipmentBrand": {
      "post": {
        "tags": [
          "Equipment Brand"
        ],
        "summary": "To create an equipment type",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/getEquipmentBrands": {
      "post": {
        "tags": [
          "Equipment Brand"
        ],
        "summary": "To get all equipment brands created by a subscriber or parent subscriber of normal user. It will also contain brands created by global admin.",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/GeneralAPIResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "brands": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/EquipmentBrand"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/createCustomer": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "To create a customer",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "street",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "city",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "zipCode",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactName",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GeneralAPIResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/getCustomers": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "To get all customers of a subscriber or parent subscriber of normal user.",
        "description": "",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "includeActive",
            "in": "formData",
            "required": true,
            "type": "boolean",
            "description": "Should include active clients in the response. true->include false->don't include"
          },
          {
            "name": "includeNonActive",
            "in": "formData",
            "required": true,
            "type": "boolean",
            "description": "Should include non-active clients in the response. true->include false->don't include"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/GeneralAPIResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Customer"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Industry": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "auth": {
          "type": "object",
          "properties": {
            "email": {
              "type": "string"
            },
            "password": {
              "type": "string"
            }
          }
        },
        "profile": {
          "type": "object",
          "properties": {
            "firstName": {
              "type": "string"
            },
            "lastName": {
              "type": "string"
            },
            "displayName": {
              "type": "string"
            }
          }
        },
        "address": {
          "type": "object",
          "properties": {
            "street": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "state": {
              "type": "string"
            },
            "zipCode": {
              "type": "string"
            }
          }
        },
        "contact": {
          "type": "object",
          "properties": {
            "phone": {
              "type": "string"
            }
          }
        },
        "permissions": {
          "type": "object",
          "properties": {
            "role": {
              "type": "integer",
              "description": "0->OFFICE_ADMIN 1->TECHNICIAN 2->MANAGER 3->SUBSCRIBER 4->GLOBAL_ADMIN"
            }
          }
        },
        "company": {
          "type": "object",
          "description": "Company data, returned only if the user is a subscriber",
          "properties": {
            "companyName": {
              "type": "string"
            },
            "logoUrl": {
              "type": "string"
            },
            "industry": {
              "type": "string"
            }
          }
        },
        "subscriber": {
          "type": "string",
          "description": "Subscriber id who created this user, returned if the user is not a subscriber themself like a technician"
        }
      }
    },
    "EquipmentType": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "createdBy": {
          "type": "string",
          "description": "Id of the subscriber who created it, or null if the global admin created it."
        }
      }
    },
    "EquipmentBrand": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "createdBy": {
          "type": "string",
          "description": "Id of the subscriber who created it, or null if the global admin created it."
        }
      }
    },
    "Customer": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "info": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "email": {
              "type": "string"
            }
          }
        },
        "address": {
          "type": "object",
          "properties": {
            "street": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "state": {
              "type": "string"
            },
            "zipCode": {
              "type": "string"
            }
          }
        },
        "contact": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "phone": {
              "type": "string"
            }
          }
        },
        "isActive": {
          "type": "boolean"
        },
        "subscriber": {
          "type": "string",
          "description": "Id of subscriber who created this customer"
        }
      }
    },
    "GeneralAPIResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "Status of operation, 0 -> failure 1 -> success",
          "enum": [
            0,
            1
          ]
        },
        "message": {
          "type": "string",
          "description": "Error message in case of operation failure"
        }
      }
    },
    "AuthAPIResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/GeneralAPIResponse"
        },
        {
          "type": "object",
          "properties": {
            "token": {
              "type": "string",
              "description": "Auth token to be used in next apis"
            },
            "user": {
              "$ref": "#/definitions/User"
            }
          }
        }
      ]
    }
  }
}