swagger: '2.0'
info:
  title: BlueClerk
  description: APIs for both app and website
  version: 1.0.0
host: 'blueclerk-node-api.deploy.blueclerk.com'
basePath: /api/v1
schemes:
  - https
tags:
  - name: Auth
    description: For login and signup
  - name: Social Auth
    description: For social login and signup
  - name: Industry
    description: For the industry company works in
  - name: Users
    description: For all kind of users
  - name: Company
    description: For all kind of company stuff
  - name: Email Default
    description: For all kind of company email default
  - name: Equipment Type
    description: For equipment types
  - name: Equipment Brand
    description: For equipment brands
  - name: Customer
    description: For customers of a company
  - name: Customer Equipment
    description: For equipments of a customer
  - name: Contact
    description: For contact of customer or job location
  - name: Location Tags
    description: For location tags
  - name: Customer Equipment Detail
    description: For Limited information of customer equipment and jobs
  - name: Company Equipment
  - name: Company Card
    description: For payment methods of a company
  - name: Company Equipment History
    description: For company equipment's Check In Check Out history
  - name: Inventory
    description: For Inventory of company equipments
  - name: Job Type
    description: For job types
  - name: Items
    description: For invoice items
  - name: Item Pricing Tiers
    desdription: For company item pricing tiers
  - name: Job Charges
    description: For job charges
  - name: Job Site
    description: For company Job Sites
  - name: Service Ticket
    description: For creating and getting service tickets
  - name: Notification
    description: For retrieve and update notification
  - name: Job
    description: For scheduled jobs
  - name: Part Inventory
    description: For parts inventory
  - name: Purchase Order
    description: For company purchase orders
  - name: Estimate
    description: For Estimate
  - name: Reports
    description: For job and other reports
  - name: Sales Tax
    description: For salesTax
  - name: Invoice
    description: For invoices of jobs
  - name: Payment
    description: For payments of invoices
  - name: Image
    description: For images
  - name: Group
    description: For Groups  
  - name: Tags
    description: For Placing Tags Order
  - name: Subscription
  - name: Permission
    description: For employee or company permissions
  - name: Vendor
    description: For vendor login, signup and details
  - name: Import Customer
    description: For import customers through excel file
  - name: Quickbooks Integration
    description: For Quickbooks customers integration
    
paths:
  /login:
    post:
      tags:
        - Auth
      summary: Login all kind of users and get auth token for further requests
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
        - name: password
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthAPIResponse'
  /signUp:
    post:
      tags:
        - Auth
      summary: Sign up as company Admin and creates company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
          description: email address of admin of a company
        - name: password
          in: formData
          required: true
          type: string
          description: password for company admin login
        - name: firstName
          in: formData
          required: true
          type: string
          description: first Name of admin of company
        - name: lastName
          in: formData
          required: true
          type: string
          description: last Name of admin of company
        - name: phone
          in: formData
          required: true
          type: string
          description: phone number of admin of company
        - name: companyName
          in: formData
          required: true
          type: string
        - name: industryId
          in: formData
          description: >-
            Id of the selected industry from the industries fetched with
            /getIndustries api
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthAPIResponse'
  /searchContractor:
    post:
      tags:
        - Vendor
      summary: Search for vendors
      description: 'Company can serach vendor'
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/User'
      security:
        - Bearer: []
  /inviteContractor:
    post:
      tags:
        - Vendor
      summary: To invite vendor to join BlueClerk
      description: A company can invite a vendor
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          description: email of vendor to invite
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /startContract:
    post:
      tags:
        - Vendor
      summary: To send offer to a vendor
      description: A company can initiate a contract with vendor
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: contractorId
          in: formData
          description: Id of a vendor fetched with /searchContractor api
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getContracts:
    post:
      tags:
        - Vendor
      summary: To get all contracts by vendor
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  industries:
                    type: array
                    items:
                      $ref: '#/definitions/Contract'
      security:
        - Bearer: []
  /getCompanyContracts:
    post:
      tags:
        - Vendor
      summary: To get all contracts by company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  industries:
                    type: array
                    items:
                      $ref: '#/definitions/Contract'
      security:
        - Bearer: []
  /getContractorDetail:
    post:
      tags:
        - Vendor
      summary: To get detail of a contractor
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  industries:
                    type: array
                    items:
                      $ref: '#/definitions/Contractor'
      security:
        - Bearer: []
  /getCompanyContractorActivity:
    post:
      tags:
        - Vendor
      summary: To get all company vendors activity
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  contractorActivity:
                    type: array
                    items:
                      $ref: '#/definitions/ContractorActivity'
      security:
        - Bearer: []
  /acceptOrRejectContract:
    post:
      tags:
        - Vendor
      summary: Accepting or rejecting a contract by vendor
      # description: Only a global admin can create an industry
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: contractId
          in: formData
          description: Id of a contract fetched by /getContracts api
          required: true
          type: string
        - name: status
          in: formData
          description: status of contract accept / reject
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /CancelOrFinish:
    post:
      tags:
        - Vendor
      summary: Canceling of Finishing contract by company
      # description: Only a global admin can create an industry
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: contractId
          in: formData
          description: Id of a contract fetched by /getContracts api
          required: true
          type: string
        - name: status
          in: formData
          description: status of contract cancel / finish
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /upgradeToCompany:
    post:
      tags:
        - Vendor
      summary: Upgrading from vendor to company account
      # description: Only a global admin can create an industry
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: token
          in: formData
          description: strip token got from mobile end
          required: true
          type: string
        - name: ending
          in: formData
          description: last 4 digits of card
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /changeContractorPermission:
    post:
      tags:
        - Permission
      summary: Assigning permissions to contractor
      # description: Only a global admin can create an industry
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: contractorId
          in: formData
          description: Id of a contractor
          required: true
          type: string
        - name: permissions
          in: formData
          description: comma seprated permissions
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /contractorSignup:
    post:
      tags:
        - Auth
      summary: Sign up for contractor
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
        - name: password
          in: formData
          required: true
          type: string
        - name: firstName
          in: formData
          required: true
          type: string
        - name: lastName
          in: formData
          required: true
          type: string
        - name: phone
          in: formData
          required: true
          type: string
        - name: companyName
          in: formData
          required: true
          type: string
        - name: industryId
          in: formData
          description: >-
            Id of the selected industry from the industries fetched with
            /getIndustries api
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthAPIResponse'
  /checkAndGet:
    post:
      tags:
        - Social Auth
      summary: Check if user has already signed up using Facebook or google
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: socialId
          in: formData
          description: 'Social id returned by facebook or google sdk'
          required: true
          type: string
        - name: connectorType
          in: formData
          description: '0 for Facebook and 1 for Google'
          required: true
          type: number
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthAPIResponse'
  /signUpSocial:
    post:
      tags:
        - Social Auth
      summary: Sign up for company using Facebook or Google
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
          description: email address of admin of a company
        - name: firstName
          in: formData
          required: true
          type: string
          description: first Name of admin of company
        - name: lastName
          in: formData
          required: true
          type: string
          description: last Name of admin of company
        - name: phone
          in: formData
          required: true
          type: string
          description: phone number of admin of company
        - name: companyName
          in: formData
          required: true
          type: string
        - name: industryId
          in: formData
          description: >-
            Id of the selected industry from the industries fetched with
            /getIndustries api
          required: true
          type: string
        - name: socialId
          in: formData
          description: >-
            Social id from Facebook or Google sdk
          required: true
          type: string
        - name: connectorType
          in: formData
          description: >-
            0 for Facebook and 1 for Google
          required: true
          type: number
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthAPIResponse'
  /contractorSignUpSocial:
    post:
      tags:
        - Social Auth
      summary: Sign up for contractor using Facebook or Google
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
        - name: firstName
          in: formData
          required: true
          type: string
        - name: lastName
          in: formData
          required: true
          type: string
        - name: phone
          in: formData
          required: true
          type: string
        - name: companyName
          in: formData
          required: true
          type: string
        - name: industryId
          in: formData
          description: >-
            Id of the selected industry from the industries fetched with
            /getIndustries api
          required: true
          type: string
        - name: socialId
          in: formData
          description: >-
            Social id from Facebook or Google sdk
          required: true
          type: string
        - name: connectorType
          in: formData
          description: >-
            0 for Facebook and 1 for Google
          required: true
          type: number
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthAPIResponse'
  /setCustomWorkOrderNumber:
    post:
      tags:
        - Job
      summary: Setting custom work order number for service tickets and job
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: workOrderNumber
          in: formData
          type: number
        - name: prefix
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getCurrentJobId:
    post:
      tags:
        - Job
      summary: Getting latest custom work order number for service tickets and job
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/WorkOrderNumberResponse'
      security:
        - Bearer: []
  /setCustomInvoiceNumber:
    post:
      tags:
        - Invoice
      summary: Setting custom invoce number for invoices
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: invoiceNumber
          in: formData
          type: number
        - name: invoicePrefix
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getCurrentIvoiceNumber:
    post:
      tags:
        - Invoice
      summary: Getting current invoice numbe for company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvoiceNumberResponse'
      security:
        - Bearer: []
  # /adminSignUp:
  #   post:
  #     tags:
  #       - Auth
  #     summary: Sign up for global admin
  #     description: ''
  #     consumes:
  #       - application/x-www-form-urlencoded
  #     produces:
  #       - application/json
  #     parameters:
  #       - name: email
  #         in: formData
  #         required: true
  #         type: string
  #       - name: password
  #         in: formData
  #         required: true
  #         type: string
  #       - name: firstName
  #         in: formData
  #         required: true
  #         type: string
  #       - name: lastName
  #         in: formData
  #         required: true
  #         type: string
  #       - name: phone
  #         in: formData
  #         required: true
  #         type: string
  #     responses:
  #       '200':
  #         description: Success
  #         schema:
  #           $ref: '#/definitions/AuthAPIResponse'
  /createIndustry:
    post:
      tags:
        - Industry
      summary: To create an industry
      description: Only a global admin can create an industry
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: title
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getIndustries:
    post:
      tags:
        - Industry
      summary: To get all industries
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  industries:
                    type: array
                    items:
                      $ref: '#/definitions/Industry'
  # /removeIndustry:
  #   post:
  #     tags:
  #       - Industry
  #     summary: To remove an industry
  #     description: Only a global admin can remove an industry
  #     consumes:
  #       - application/x-www-form-urlencoded
  #     produces:
  #       - application/json
  #     parameters:
  #       - name: industryId
  #         in: formData
  #         required: true
  #         type: string
  #     responses:
  #       '200':
  #         description: Success
  #         schema:
  #           $ref: '#/definitions/GeneralAPIResponse'
  #     security:
  #       - Bearer: []
 
  /createManager:
    post:
      tags:
        - Users
      summary: To create a manager
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
        - name: firstName
          in: formData
          required: true
          type: string
        - name: lastName
          in: formData
          required: true
          type: string
        - name: phone
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createTechnician:
    post:
      tags:
        - Users
      summary: To create a technician
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
        - name: firstName
          in: formData
          required: true
          type: string
        - name: lastName
          in: formData
          required: true
          type: string
        - name: phone
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createOfficeAdmin:
    post:
      tags:
        - Users
      summary: To create an office admin
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
        - name: firstName
          in: formData
          required: true
          type: string
        - name: lastName
          in: formData
          required: true
          type: string
        - name: phone
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getManagers:
    post:
      tags:
        - Users
      summary: To get all managers created by a company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/definitions/User'
      security:
        - Bearer: []
  /getTechnicians:
    post:
      tags:
        - Users
      summary: To get all technicians created by a company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/definitions/User'
      security:
        - Bearer: []
  /getOfficeAdmins:
    post:
      tags:
        - Users
      summary: To get all office admins created by a company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/definitions/User'
      security:
        - Bearer: []
  /updateProfile:
    post:
      tags:
        - Users
      summary: To update profile of any user
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: firstName
          in: formData
          required: true
          type: string
        - name: lastName
          in: formData
          required: true
          type: string
        - name: imageUrl
          in: formData
          type: string
        - name: street
          in: formData
          type: string
        - name: city
          in: formData
          type: string
        - name: state
          in: formData
          type: string
        - name: zipCode
          in: formData
          type: string
        - name: phone
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /changePassword:
    post:
      tags:
        - Users
      summary: To change password of any user
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: currentPassword
          in: formData
          required: true
          type: string
        - name: newPassword
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /forgotPassword:
    post:
      tags:
        - Users
      summary: To change password of any user
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
  /deleteEmployee:
    post:
      tags:
        - Users
      summary: To delete user (technician, manager or office admin)
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: employeeId
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /activateEmployee:
    post:
      tags:
        - Users
      summary: To revive/activate deleted user (technician, manager or office admin)
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: employeeId
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getAllEmployees:
    post:
      tags:
        - Users
      summary: To get all employees (technician, manager and office admin)
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/definitions/User'
      security:
        - Bearer: []
  /getEmployeesForJob:
    post:
      tags:
        - Job
      summary: To get all employees other then office admins (technician and manager) and super admin of company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/definitions/User'
      security:
        - Bearer: []
  /getContractorsForJob:
    post:
      tags:
        - Users
      summary: To get all contractors of a company for assigning them a job
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/definitions/User'
      security:
        - Bearer: []
  /agreeTermAndCondition:
    post:
      tags:
        - Users
      summary: Employee agree to terms and condition
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: agreedStatus
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /updateCompanyProfile:
    post:
      tags:
        - Users
      summary: To update profile of a company
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: companyName
          in: formData
          required: true
          type: string
        - name: companyEmail
          in: formData
          required: true
          type: string
          description: email address of company
        - name: logoUrl
          in: formData
          type: string
        - name: street
          in: formData
          type: string
        - name: city
          in: formData
          type: string
        - name: state
          in: formData
          type: string
        - name: zipCode
          in: formData
          type: string
        - name: phone
          in: formData
          required: true
          type: string
        - name: fax
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getCompanyEmailDefault:
    get:
      tags:
        - Email Default
      summary: To get company email default
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /updateCompanyEmailDefault:
    put:
      tags:
        - Email Default
      summary: To update company email default
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: subject
          in: formData
          type: string
        - name: message
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createEquipmentType:
    post:
      tags:
        - Equipment Type
      summary: To create an equipment type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: title
          in: formData
          required: true
          type: string
        - name: industryId
          in: formData
          # required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getEquipmentTypes:
    post:
      tags:
        - Equipment Type
      summary: >-
        To get all equipment types created by a company or company
        of employee. It will also contain types created by global admin according to industry.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  types:
                    type: array
                    items:
                      $ref: '#/definitions/EquipmentType'
      security:
        - Bearer: []
  /createEquipmentBrand:
    post:
      tags:
        - Equipment Brand
      summary: To create an equipment type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: title
          in: formData
          required: true
          type: string
        - name: industryId
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getEquipmentBrands:
    post:
      tags:
        - Equipment Brand
      summary: >-
        To get all equipment brands created by a company or company
        of employee. It will also contain brands created by global admin.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  brands:
                    type: array
                    items:
                      $ref: '#/definitions/EquipmentBrand'
      security:
        - Bearer: []
  /createCustomer:
    post:
      tags:
        - Customer
      summary: To create a customer
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: email
          in: formData
          required: true
          type: string
        - name: name
          in: formData
          required: true
          type: string
        - name: street
          in: formData
          type: string
        - name: unit
          in: formData
          type: string
        - name: city
          in: formData
          type: string
        - name: state
          in: formData
          type: string
        - name: zipCode
          in: formData
          type: string
        - name: latitude
          in: formData
          type: string
        - name: longitude
          in: formData
          type: string
        - name: contactName
          in: formData
          type: string
        - name: phone
          in: formData
          type: string
        - name: fax
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /updateCustomer:
    post:
      tags:
        - Customer
      summary: To update customer data
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: customerId
          in: formData
          required: true
          type: string
        - name: name
          in: formData
          required: true
          type: string
        - name: email
          in: formData
          required: true
          type: string
        - name: itemTierId
          in: formData
          type: string
        - name: isCustomPrice
          in: formData
          type: boolean
          description: Toggle for customer to use Item's Tier or Custom Price. This will be default to false for new customer. Set to false to let customer use the Item's Tier, set to true to let customer use the custom price.
        - name: street
          in: formData
          type: string
        - name: unit
          in: formData
          type: string
        - name: city
          in: formData
          type: string
        - name: state
          in: formData
          type: string
        - name: zipCode
          in: formData
          type: string
        - name: latitude
          in: formData
          type: string
        - name: longitude
          in: formData
          type: string
        - name: contactName
          in: formData
          type: string
        - name: phone
          in: formData
          type: string
        - name: fax
          in: formData
          type: string
        - name: vendorId
          in: formData
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /updateCustomPrices:
    post:
      tags:
        - Customer
      summary: This API used to update customer's custom prices
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: customerId
          in: formData
          required: true
          type: string
        - name: customPrices
          in: formData
          type: string
          description: >-
            "Json string of the customPrices e.g [{\"quantity\":1,\"price\":45},{\"quantity\":2,\"price\":85},{\"quantity\":3,\"price\":125},{\"quantity\":4,\"price\":165},{\"quantity\":5,\"price\":206},{\"quantity\":6,\"price\":245}]. The the quantities have to be sufficient, no missing sequence."
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getCustomers:
    post:
      tags:
        - Customer
      summary: >-
        To get all customers of a company or company of employee.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: includeActive
          in: formData
          required: true
          type: boolean
          description: >-
            Should include active clients in the response. true->include
            false->don't include
        - name: includeNonActive
          in: formData
          required: true
          type: boolean
          description: >-
            Should include non-active clients in the response. true->include
            false->don't include
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  customer:
                    $ref: '#/definitions/Customer'
      security:
        - Bearer: []
  /getCustomerDetail:
    post:
      tags:
        - Customer
      summary: >-
        To get detail of a customer.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: customerId
          in: formData
          type: string
          description: 'Id of customer for getting detail'
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/definitions/Customer'
      security:
        - Bearer: []
  /createCustomerEquipment:
    post:
      tags:
        - Customer Equipment
      summary: To create an equipment for a customer
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: model
          in: formData
          required: true
          type: string
        - name: serialNumber
          in: formData
          required: true
          type: string
        - name: location
          in: formData
          required: true
          type: string
        - name: nfcTag
          in: formData
          required: true
          type: string
        - name: images
          in: formData
          type: string
          description: comma seprated image Urls
        - name: equipmentTypeId
          in: formData
          required: true
          type: string
          description: >-
            Id of the selected equipment type from the list received in
            /getEquipmentTypes api
        - name: equipmentBrandId
          in: formData
          required: true
          type: string
          description: >-
            Id of the selected equipment brand from the list received in
            /getEquipmentBrands api
        - name: customerId
          in: formData
          required: true
          type: string
          description: >-
            Id of the selected customer from the list received in /getCustomers
            api
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getCustomerEquipments:
    post:
      tags:
        - Customer Equipment
      summary: To get all equipments of a customer.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: customerId
          in: formData
          required: true
          type: string
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  equipments:
                    type: array
                    items:
                      $ref: '#/definitions/CustomerEquipment'
      security:
        - Bearer: []
  /getCustomerEquipmentJobs:
    post:
      tags:
        - Customer Equipment
      summary: To get history of jobs performed on current equipment
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: nfcTag
          in: formData
          required: true
          type: string
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
           allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  equipment:
                    type: object
                    properties:
                      _id:
                        type: string
                      info:
                        type: object
                        properties:
                          model:
                            type: string
                          serialNumber:
                            type: string
                          nfcTag:
                            type: string
                          imageUrl:
                            type: string
                      maintenance:
                        type: object
                        properties:
                          interval:
                            type: string
                          nextDate:
                            type: string
                            format: date-time
                      type:
                        type: string
                        description: Id of equipment type
                      brand:
                        type: string
                        description: Id of equipment brand
                      customer:
                        type: string
                        description: Id of customer
                  jobs:
                    type: array
                    items:
                      $ref: '#/definitions/Scan'
      security:
        - Bearer: []
  /codeLocationTag:
    post:
      tags:
        - Location Tags
      summary: To code a location tag
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: latitude
          in: formData
          required: true
          type: string
        - name: longitude
          in: formData
          required: true
          type: string
        - name: nfcTag
          in: formData
          required: true
          type: string
        - name: images
          in: formData
          type: string
          description: comma seprated image Urls
        - name: customer
          in: formData
          required: true
          type: string
        - name: note
          in: formData
          required: false
          type: string
        - name: address
          in: formData
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getLocationTagInfo:
    post:
      tags:
        - Location Tags
      summary: To get detail of location by nfc tag
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: nfcTag
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  tags:
                    $ref: '#/definitions/LocationTag'
      security:
        - Bearer: []
  /updateLocationTag:
    post:
      tags:
        - Location Tags
      summary: To update a location tag
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: nfcTag
          in: formData
          required: true
          type: string
        - name: latitude
          in: formData
          required: true
          type: string
        - name: longitude
          in: formData
          required: true
          type: string
        - name: note
          in: formData
          required: false
          type: string
        - name: address
          in: formData
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getLocationTags:
    post:
      tags:
        - Location Tags
      summary: To get all location tags
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/definitions/LocationTag'
      security:
        - Bearer: []
  /getLocationTagJobs:
    post:
      tags:
        - Location Tags
      summary: To get history of jobs performed on current tag
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: nfcTag
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
           allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  tag:
                    $ref: '#/definitions/LocationTag'
                  jobs:
                    type: array
                    items:
                      $ref: '#/definitions/Scan'
      security:
        - Bearer: []
  /scanTag:
    post:
      tags:
        - Customer Equipment
      summary: To check if the tag is linked to some equipment or not
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: nfcTag
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckTagResponse'
      security:
        - Bearer: []
  /getEquipmentInfo:
    post:
      tags:
        - Customer Equipment Detail
      summary: To get detail of equipment by nfc tag
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: nfcTag
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  equipment:
                    type: object
                    properties:
                      info:  
                        type: object
                        properties:
                          model:
                            type: string
                            description: model number of equipment scanned
                          serialNumber:
                            type: string
                            description: serialNumber number of equipment scanned
                          location:
                            type: string
                            description: location of equipment
                      images:
                        type: array
                        items:
                          type: string
                      type:
                        type: object
                        properties:
                          title: 
                            type: string
                      brand:
                        type: object
                        properties:
                          title: 
                            type: string
                      customer:
                        type: object
                        properties:
                          profile:
                            type: object
                            properties:
                              displayName: 
                                type: string
                          address:
                            type: object
                            properties:
                              street: 
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                              zipCode:
                                type: string
      security:
        - Bearer: []
  /getEquipmentJobs:
    post:
      tags:
        - Customer Equipment Detail
      summary: To get jobs performed on equipment by nfc tag
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: nfcTag
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  scans:
                    type: array
                    items:
                      properties:
                        jobId:
                          type: string
                        description:
                          type: string
                        status:
                          type: boolean
                        dateTime:
                          type: string
                          format: date
                        customer:  
                          type: object
                          properties:
                            profile:
                              type: object
                              properties:
                                displayName:
                                  type: string
      security:
        - Bearer: []
  /jobSite:
    post:
      tags:
        - job Site
      summary: Create a customer job site
      description: ''
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/jobSite'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/jobSite'
  /jobSite/{id}:
    put:
      tags:
        - job Site
      summary: Update Job site by Id
      description: ''
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          required: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/jobSite'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
    get:
      tags:
        - job Site
      summary: Get Job site by Id
      description: ''
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          required: true
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  data:
                    $ref: '#/definitions/jobSite'
  /jobSite?companyId={companyId}&customerId={customerId}:
    get:
      tags:
        - job Site
      summary: Get Job site by companyId and/or customerId
      description: ''
      produces:
        - application/json
      parameters:
        - in: query
          name: companyId
          type: integer
          required: false
        - in: query
          name: customerId
          type: integer
          required: true
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  data:
                    $ref: '#/definitions/jobSite'

  /createJobType:
    post:
      tags:
        - Job Type
      summary: To create a job type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: title
          in: formData
          required: true
          type: string
        - name: industryId
          in: formData
          type: string
          description: pass indutry id if you are global admin and make this job type available for that industry
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /editJobType:
    post:
      tags:
        - Job Type
      summary: To edit a job type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: jobTypeId
          in: formData
          type: string
          required: true
          description: pass job type id fetched from getJobTypes api
        - name: title
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /changeJobTypeStatus:
    post:
      tags:
        - Job Type
      summary: To activate or deactivate a job type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: jobTypeId
          in: formData
          type: string
          required: true
          description: pass job type id fetched from getJobTypes api
        - name: status
          in: formData
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getJobTypes:
    post:
      tags:
        - Job Type
      summary: >-
        To get all job types created by a company or employee of
        company. It will also contain types created by global admin.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  types:
                    type: array
                    items:
                      $ref: '#/definitions/JobType'
      security:
        - Bearer: []
  /getItems:
    post:
      tags:
        - Items
      summary: >-
        To get all items of company 
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  types:
                    type: array
                    items:
                      $ref: '#/definitions/Item'
      security:
        - Bearer: []
  /updateItem:
    post:
      tags:
        - Items
      summary: >-
        To update the item
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: itemId
          in: formData
          required: true
          type: string
        - name: isFixed
          in: formData
          type: boolean
          required: true
          description: it is either fixed of hourly
        - name: charges
          in: formData
          required: true
          type: number
          description: charges of the item to be used in invoice
        - name: tax
          in: formData
          required: true
          type: number
          description: tax percentage to be applied on this item in invoice
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /updateItems:
    post:
      tags:
        - Items
      summary: To update multiple item tier's charge at once
      description: Will update charges for multiple item tier's charge at once. When there are some troubled itemId and/or tierId, BE will return it to the response, showing that those IDs are not being updated and have some problem on it
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: items
          in: formData
          type: string
          description: >
            'Json string of the items e.g [{"itemId":"60884105898eb7068283bfc4","tiers":[{"tierId":"60b7dd9643d3717e9a325c9f","charge":10},{"tierId":"60b7e0598529b3041b284628","charge":20}]},{"itemId":"60884115898eb7068283bfc6","tiers":[{"tierId":"60b7e0598529b3041b284628","charge":15},{"tierId":"60b7e0a68529b3041b284629","charge":25}]},{"itemId":"60b90c8438045631806b8e6d","tiers":[{"tierId":"60b7dd9643d3717e9a325c9f","charge":40}]}]'
      responses:
        '200':
          description: Success
          schema:
            $ref: "#/definitions/GeneralAPIResponse"
      security:
        - Bearer: []
  /getItemTierList:
    get:
      tags:
        - Item Pricing Tiers
      summary: Retrieve item tier list of company
      description: To retrieve all item tier of the logged in user company
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /addItemTier:
    post:
      tags:
        - Item Pricing Tiers
      summary: Add new tier to the company
      description: To add new item tier to the company then will add the new tier to all items belong to the company
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /updateItemTier:
    put:
      tags:
        - Item Pricing Tiers
      summary: To update item tier of company
      description: Update item tier name and isActive. When a tier is being inactivated, BE will return the conflict customers if any, customer that still use the updated tier
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: itemTierId
          in: formData
          required: true
          type: string
        - name: name
          in: formData
          type: string
        - name: isActive
          description: >
            Status of company item tier. **0** => false/inactive, **1** => true/active
          in: formData
          type: integer
          enum:
            - 0
            - 1
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createJobCharges:
    post:
      tags:
        - Job Charges
      summary: To create charges on the basis of job type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: jobTypeId
          in: formData
          required: true
          type: string
          description: pass job type id fetched from getjobtypes api
        - name: isFixed
          in: formData
          required: true
          type: boolean
          description: >-
            Either the job is fixed price or hourly. true->if fixed
            false->is hourly
        - name: charges
          in: formData
          required: true
          type: number
        - name: sales_tax_id
          in: formData
          type: string
          description: pass sales tax id fetched from getSalesTax api
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getJobCharges:
    post:
      tags:
        - Job Charges
      summary: To get job charges 
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  charges:
                    type: array
                    items:
                      $ref: '#/definitions/JobCharges'
      security:
        - Bearer: []
  /updateJobCharges:
    post:
      tags:
        - Job Charges
      summary: To update charges on the basis of job type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: jobChargesId
          in: formData
          required: true
          type: string
          description: Id of job charges you want to edit
        - name: isFixed
          in: formData
          required: true
          type: boolean
          description: >-
            Either the job is fixed price or hourly. true->if fixed
            false->is hourly
        - name: charges
          in: formData
          required: true
          type: number
        - name: sales_tax_id
          in: formData
          type: string
          description: pass sales tax id fetched from getSalesTax api
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /deleteJobCharges:
    post:
      tags:
        - Job Charges
      summary: To delete charges on the basis of job type
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: jobChargesId
          in: formData
          required: true
          type: string
          description: Id of job charges you want to delete
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createSalesTax:
    post:
      tags:
        - Sales Tax
      summary: To create sales tax for a state
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: state
          in: formData
          required: true
          type: string
          description: Name of the state you want to create tax for
        - name: tax
          in: formData
          required: true
          type: number
          description: Tax percentage you want to apply for this state
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getSalesTax:
    post:
      tags:
        - Sales Tax
      summary: To get sales taxes
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  taxes:
                    type: array
                    items:
                      $ref: '#/definitions/SaleTax'
      security:
        - Bearer: []
  /updateSalesTax:
    post:
      tags:
        - Sales Tax
      summary: To update sales tax
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: salesTaxId
          in: formData
          required: true
          type: string
          description: Id of sales tax you want to update
        - name: state
          in: formData
          required: true
          type: string
          description: Name of the state you want to create tax for
        - name: tax
          in: formData
          required: true
          type: number
          description: Tax percentage you want to apply for this state
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /deleteSalesTax:
    post:
      tags:
        - Sales Tax
      summary: To delete slaes tax
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: salesTaxId
          in: formData
          required: true
          type: string
          description: Id of sales tax you want to delete
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createPart:
    post:
      tags:
        - Part Inventory
      summary: To create inventory of a part
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: name
          in: formData
          required: true
          type: string
          description: Name of the part
        - name: itemCode
          in: formData
          required: true
          type: string
          description: Item code or SKU number of a part, it must be unique
        - name: description
          in: formData
          required: false
          type: string
        - name: cost
          in: formData
          required: true
          type: string
          description: amount at which part was purchased
        - name: price
          in: formData
          required: true
          type: string
          description: sale price of the part
        - name: totalQuantity
          in: formData
          required: true
          type: string
          description: total quantity of the part to add in inventory
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getParts:
    post:
      tags:
        - Part Inventory
      summary: To get parts inventories
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  taxes:
                    type: array
                    items:
                      $ref: '#/definitions/Part'
      security:
        - Bearer: []
  /updatePart:
    post:
      tags:
        - Part Inventory
      summary: To update part inventory
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: partId
          in: formData
          required: true
          type: string
          description: Id of part you want to update
        - name: name
          in: formData
          required: true
          type: string
          description: Name of the part
        - name: itemCode
          in: formData
          required: true
          type: string
          description: unique item code of the part
        - name: description
          in: formData
          required: true
          type: string
          description: description of the part
        - name: cost
          in: formData
          required: false
          type: number
          description: cost of the part
        - name: price
          in: formData
          required: true
          type: number
          description: price of the part
        - name: totalQuantity
          in: formData
          required: true
          type: number
          description: total quantity of the part
        - name: availableQuantity
          in: formData
          required: true
          type: number
          description: available quantity of the part
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /deletePart:
    post:
      tags:
        - Part Inventory
      summary: To delete part inventory
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: partId
          in: formData
          required: true
          type: string
          description: Id of part you want to delete
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createPurchaseOrder:
    post:
      tags:
        - Purchase Order
      summary: To create purchase order
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: items
          in: formData
          required: false
          type: string
          description: 'Json string of the items e.g [{"name": "test part2", "itemCode": "23423", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] OR [{"part": "part id from listParts api", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] optional'  
        - name: job
          in: formData
          required: false
          type: string
          description: Id of the job purchase order is linked to. (Optional)
        - name: equipmentId
          in: formData
          required: false
          type: string
          description: customer equipment id to which PO is linked (optional)
        - name: note
          in: formData
          required: true
          type: string
          description: add note for the required item if items is not added (required if items not added)
        - name: customer
          in: formData
          required: true
          type: string
          description: Id of the customer purchase order is linked to
        - name: total
          in: formData
          required: false
          type: number
          description: total amount of the purchase order
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createPOEstimate:
    post:
      tags:
        - Purchase Order
      summary: To create purchase order form estimate
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: estimateId
          in: formData
          required: true
          type: string
          description: Id of the estimate to create purchase order 
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []      
  /getAllPurchaseOrder:
    post:
      tags:
        - Purchase Order
      summary: To get purchase orders
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  purchaseOrders:
                    type: array
                    items:
                      $ref: '#/definitions/PurchaseOrder'
      security:
        - Bearer: []
  /getEquipmentPurchaseOrder:
    post:
      tags:
        - Purchase Order
      summary: To get purchase orders by equipment id
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: equipmentId
          in: formData
          required: true
          type: string
          description: Id of equipment for getting list of purhchase order
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  purchaseOrders:
                    type: array
                    items:
                      $ref: '#/definitions/PurchaseOrder'
      security:
        - Bearer: []
  /updatePurchaseOrder:
    post:
      tags:
        - Purchase Order
      summary: To update purchase order
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: purchaseOrderId
          in: formData
          required: true
          type: string
          description: Id of purchase order you want to update
        - name: items
          in: formData
          required: false
          type: string
          description: 'Json string of the items e.g [{"name": "test part2", "itemCode": "23423", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] OR [{"part": "part id from listParts api", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] optional' 
        - name: note
          in: formData
          required: true
          type: string
          description: add note for the required item if items is not added (required if items not added)
        - name: equipmentId
          in: formData
          required: false
          type: string
          description: customer equipment id to which PO is linked (optional)
        - name: job
          in: formData
          required: false
          type: string
          description: Id of the job purchase order linked to
        - name: total
          in: formData
          required: true
          type: number
          description: total amount of the purchase order
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  # /updatePurchaseOrderStatus:
  #   post:
  #     tags:
  #       - Purchase Order
  #     summary: To update purchase order status
  #     description: ''
  #     consumes:
  #       - application/x-www-form-urlencoded
  #     produces:
  #       - application/json
  #     parameters:
  #       - name: purchaseOrderId
  #         in: formData
  #         required: true
  #         type: string
  #         description: Id of purchase order you want to update
  #       - name: status
  #         in: formData
  #         required: true
  #         type: number
  #         description: status of purchase order default is 0 => pending, you can update to 1=> approved by customer, 2=> cancelled by customer
  #     responses:
  #       '200':
  #         description: Success
  #         schema:
  #           $ref: '#/definitions/GeneralAPIResponse'
  #     security:
  #       - Bearer: []
  /createEstimate:
    post:
      tags:
        - Estimate
      summary: To create Estimate either from purchase order of pass the customer
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: purchaseOrderId
          in: formData
          required: false
          type: string
          description: Id of the purchase order to create estimate from
        - name: items
          in: formData
          required: false
          type: string
          description: 'Json string of the items e.g [{"name": "test part2", "itemCode": "23423", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] OR [{"part": "part id from listParts api", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] optional' 
        - name: note
          in: formData
          required: false
          type: string
          description: note for the estimate.
        - name: customer
          in: formData
          required: false
          type: string
          description: Id of the customer purchase order is linked to
        - name: total
          in: formData
          required: false
          type: number
          description: total amount of the purchase order
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getEstimate:
    post:
      tags:
        - Estimate
      summary: To get Estimate
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: customer
          in: formData
          required: false
          type: string
          description: 'Id of the customer (Optional)' 
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/definitions/Estimate'
      security:
        - Bearer: []
  /updateEstimate:
    post:
      tags:
        - Estimate
      summary: To update Estimate
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: estimateId
          in: formData
          required: true
          type: string
          description: Id of estimate you want to update
        - name: items
          in: formData
          required: false
          type: string
          description: 'Json string of the items e.g [{"name": "test part2", "itemCode": "23423", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] OR [{"part": "part id from listParts api", "quantity":2, "cost": 250, "tax": 25, "taxPercentage": 10, "price": 275}] optional' 
        - name: note
          in: formData
          required: true
          type: string
          description: note for the job
        - name: customer
          in: formData
          required: true
          type: string
          description: id of the customer for whom the estimate is created
        - name: total
          in: formData
          required: true
          type: number
          description: total amount of the estimate
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  # /updateEstimateStatus:
  #   post:
  #     tags:
  #       - Estimate
  #     summary: To update Estimate status
  #     description: ''
  #     consumes:
  #       - application/x-www-form-urlencoded
  #     produces:
  #       - application/json
  #     parameters:
  #       - name: estimateId
  #         in: formData
  #         required: true
  #         type: string
  #         description: Id of estimate you want to update
  #       - name: status
  #         in: formData
  #         required: true
  #         type: number
  #         description: status of estimate default is 0 => pending, you can update to 1=> approved by customer, 2=> cancelled by customer
  #     responses:
  #       '200':
  #         description: Success
  #         schema:
  #           $ref: '#/definitions/GeneralAPIResponse'
  #     security:
  #       - Bearer: []
  /cancelEstimate:
    post:
      tags:
        - Estimate
      summary: To cancel estimate
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: estimateId
          in: formData
          required: true
          type: string
          description: Id of estimate you want to cancel
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /createServiceTicket:
    post:
      tags:
        - Service Ticket
      summary: To create a service ticket
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: customerId
          in: formData
          required: true
          type: string
          description: >-
            Id of a customer selected from the list received by /getCustomers
            api
        - name: note
          in: formData
          type: string
        - name: technicianId
          in: formData
          type: string
          description: >-
            Id of a technician / admin
        - name: dueDate
          in: formData
          type: string
          description: 'due date of service ticket. e.g. 2020-08-12'
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
        - name: jobLocationId
          in: formData
          type: string
          description: 'Id of job location'
        - name: jobSiteId
          in: formData
          type: string
          description: 'Id of job site'
        - name: jobTypeId
          in: formData
          type: string
          description: >-
            Id of a job type selected from the list received by /getJobTypes
            api
        - name: jobTypes
          in: formData
          type: string
          description: 'Json string of the jobTypes e.g [{"jobTypeId": "608ae3aeffe3cf17946a08b1"},{"jobTypeId": "60b90cf138045631806b8e6e"}]'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getServiceTickets:
    post:
      tags:
        - Service Ticket
      summary: To get all service tickets of a company or company of employee.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/definitions/ServiceTicket'
      security:
        - Bearer: []
  /getOpenServiceTickets:
    post:
      tags:
        - Service Ticket
      summary: To get all open service tickets of a company or company of employee.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: page
          in: query
          required: true
          schema:
            type: integer
          description: 'The number of items to skip e.g. 1'
        - name: pagesize
          in: query
          required: true
          schema:
            type: integer
          description: 'The numbers of items to return e.g. 10'
        - name: jobTypeTitle
          in: formData
          type: string
          description: 'Title of specific job type'
        - name: dueDate
          in: formData
          type: string
          description: 'Due date of service ticket. e.g. 2020-08-12'
        - name: customerNames
          in: formData
          type: array
          items:
           type: "string"
          description: "List of customer's displayNames"
        - name: ticketId
          in: formData
          type: string
          description: "Ticket ID of service ticket e.g. ticket 1390 or 1390"
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/definitions/ServiceTicket'
      security:
        - Bearer: []
  /getServiceTicketDetail:
    post:
      tags:
        - Service Ticket
      summary: To get service ticket details with customer and company info.
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: ticketId
          in: formData
          required: true
          type: string
          description: 'Id of tickett you want to get detail of'
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/GeneralAPIResponse'
              - type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/definitions/ServiceTicket'
      security:
        - Bearer: []
  /updateServiceTicket:
    post:
      tags:
        - Service Ticket
      summary: To update service ticket
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: ticketId
          in: formData
          required: true
          type: string
          description: Id of ticket to update
        - name: note
          in: formData
          required: true
          type: string
          description: Additional note for the service ticket
        - name: dueDate
          in: formData
          type: string
          description: 'due date of service ticket. e.g. 2020-08-12'
        - name: companyId
          in: formData
          type: string
          description: 'Id of company if contractor is hitting for other company'
        - name: jobLocationId
          in: formData
          type: string
          description: 'Id of job location'
        - name: jobSiteId
          in: formData
          type: string
          description: 'Id of job site'
        - name: jobTypeId
          in: formData
          type: string
          description: >-
            Id of a job type selected from the list received by /getJobTypes
            api
        - name: jobTypes
          in: formData
          type: string
          description: 'Json string of the jobTypes e.g [{"jobTypeId": "608ae3aeffe3cf17946a08b1"},{"jobTypeId": "60b90cf138045631806b8e6e"}]'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /editServiceTicket:
    post:
      tags:
        - Service Ticket
      summary: To update service ticket status
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: ticketId
          in: formData
          required: true
          type: string
          description: Id of ticket to update
        - name: status
          in: formData
          required: true
          type: string
          description: default status is 0=> active, you can set status 1 => canceled 2 => reactivated ticket
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralAPIResponse'
      security:
        - Bearer: []
  /getNotifications:
    get:
      tags:
      - Notification
      summary: To retrieve all notifications by the company of the logged in user
      description: When the `isDismissed` query is not provided, it will returns notifications
        that not dismissed by default. The notifications will be sort by the recent
        ones
      parameters:
      - name: isRead
        in: query
        enum:
        - ALL
        - true
        - false
      - name: isDismissed
        in: query
        enum:
        - ALL
        - true
        - false
      produces:
      - application/json
      responses:
        '200':
          description: Success
          schema:
            allOf:
            - "$ref": "#/definitions/GeneralAPIResponse"
            - type: object
              properties:
                notifications:
                  type: array
                  items:
                    allOf:
                      - $ref: "#/definitions/Notification"
                      - $ref: "#/definitions/NotificationServiceTicket"
      security:
      - Bearer: []
  /updateNotification/{notificationId}:
    put:
      tags:
      - Notification
      summary: Update a notification to read or to dismiss it
      description: (Had to make this using json as the body to avoid boolean value being converted to string, you can use only one of them or even none of them)
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: notificationId
        in: path
        type: string
        required: true
      - name: body
        in: body
        schema:
          $ref: "#/definitions/NotificationUpdateBody"
      responses:
        '200':
          description: Returns the updated notification
          schema:
            allOf:
            - "$ref": "#/definitions/GeneralAPIResponse"
            - type: object
              properties:
                notification:
                  allOf:
                    - $ref: "#/definitions/Notification"
                    - $ref: "#/definitions/NotificationServiceTicket"
      security:
      - Bearer: []
  /createJob:
    post:
      tags:
        - Job
      summary: To create a job
      description: ''
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: scheduleDate
          in: formData
          required: true
          type: string
          description: 'schedule date of job. e.g. 2020-08-12'
        - name: scheduledStartTime
          in: formData
          required: false
          type: string
          description: 'scheduled start time of job. e.g. 13:05:00'
        - name: scheduledEndTime
          in: formData
          required: false
          type: string
          description: 'scheduled end time of job. e.g. 15:05:00'
        - name: ticketId
          in: formData
          required: true
          type: string
          description: >-
            Id of a service ticket fetched by
            /getServiceTickets api
        - name: equipmentId
          in: formData
          type: string
          description: >-
            Id of a equipment for single scan
        - name: technicianId
          in: formData
          type: string
          description: >-
            Id of a technician selected from the list received by
            /getEmployeesForJob api
        - name: contractorId
          in: formData
          type: string
          description: >-
            Id of a contractor selected from the list received by
            /getCompanyContracts api
        - name: customerId
          in: formData
          required: true
          type: string
          description: >-
            Id of a customer selected from the list received by /getCustomers
            api
        - name: jobLocationId
[...]
